html,
body,
section.horizontal {
  overflow-x: hidden;
}

* {
  --bg-color-1: #0b0826;
  --bg-color-2: #0049fb;
  --bg-color-3: #b100e8;
  --border-color: #74c1e3;
}

body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 50px 0 50px 50px;
}

article h2 {
  font-size: 2em;
  font-weight: 400;
  color: #dcdcdcb3;
  text-align: center;
}

article p {
  padding: 0;
  font-size: 1.2em;
  font-weight: 300;
  color: #dcdcdcb3;
  text-align: center;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

section.horizontal {
  overflow-x: hidden;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}

#pics {
  flex: 0 0 700px;
}

section.horizontal .item {
  position: relative;
  padding: 80px 60px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  flex: 0 0 550px;
  height: calc(100vh - 300px);
  display: flex;
  align-items: center;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  background-color: transparent;
}

/* EVENT SECTION */
.events-header h1 {
  font-size: 2em;
  font-weight: 400;
  color: #dcdcdcf4;
  text-align: center;
}

/* CARDS */

article {
  --img-scale: 1.001;
  --title-color: #4d4d4d;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 6px;
  box-shadow: none;
  border-style: solid;
  background: #1a1a1a;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  padding: 0;
  margin: 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

article a:focus {
  outline: 1px dotted #fff;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #fff;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

/*generel*/

.events-main {
  background: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2));
}
